<p-table [value]="merchandises" responsiveLayout="scroll">
<ng-template pTemplate="header">
    <tr>
      <th>id merchandise</th>
      <th>product name</th>
      <th>quantity</th>
      <th>enter date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-merchandise>
    <tr>
      <td>{{merchandise.idMerchandise}}</td>
      <td>{{merchandise.productName}}</td>
      <td>{{merchandise.quantity}}</td>
      <td>{{merchandise.enterDate}}</td>
    </tr>
  </ng-template>
</p-table>
